@using System.Diagnostics.Eventing.Reader
@model IPAdmin.Models.Patent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Patent</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IntSearchCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IntSearchCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Agency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Agency)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.SerialNoes)
    </div>

    <div class="display-field">
    @if (Model.SerialNoes != null)
        {
            <table>
            @foreach (var sn in Model.SerialNoes)
             {
                 <tr>
                     <td>
                         @sn.SerialNumber
                     </td>
                     <td>
                         @if (sn.SerialNoCustomers != null)
                         {
                             int i = sn.SerialNoCustomers.Count - 1;
                             @i;
                             <text> user(s)</text>
                         }
                         else
                         {
                             <text>0 user</text>
                         }

                         users
                     </td>
                     <td>
                     @Html.ActionLink("Detail", "Index", "SerialNo", new { id = sn.Id }, null)
                     </td>
                 </tr>
             }
            </table>
        }
    </div>
    
</fieldset>
<p>
    @Html.ActionLink("Generate more serial number", "Generate", new { id=Model.Id }) |
    @Html.ActionLink("Patent List", "Index")
</p>
