@model IPAdmin.ViewModels.GenerateSerialNo

@{
    ViewBag.Title = "Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate</h2>

using(@Html.BeginForm())
{
@Html.AntiForgeryToken();
@Html.ValidationSummary()

<fieldset>
    <legend>Patent</legend>
    
    @Html.HiddenFor(model => model.Patent.Id)

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Patent.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patent.Number)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Patent.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patent.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Prefix)
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Prefix)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Count)
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Count)
    </div>

</fieldset>
<p>
    <input type="submit" value="Generate" />

    }
    

    @Html.ActionLink("Back to List", "Index")
</p>
