@using IPAdmin.Models
@model IEnumerable<IPAdmin.Models.SerialNoCustomer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SerialNoCustomer snCustomer;
}

<h2>Index</h2>


@if (Model.FirstOrDefault() != null)
{
    snCustomer = Model.FirstOrDefault();
    @snCustomer.SerialNo.SerialNumber
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Customer.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineId)
            </td>    
        </tr>
    }
    
</table>

@if (Model.FirstOrDefault() != null)
{
    snCustomer = Model.FirstOrDefault();
    @Html.ActionLink("Give to customer", "Create", new {id = snCustomer.SerialNoId}) <br/>
    @Html.ActionLink("Print", "PrintChild", new {id=snCustomer.SerialNoId})

}

